#background{
  background-color: rgb(209, 196, 178);
  flex-grow: 1;
  padding: 10px;
  flex-direction: column;
  flex-flow: wrap;
}

#header {
  color: white;
  background-color: rgb(105, 98, 87);
  padding: 30px;
  padding-left: 50px;
  word-spacing: 140px;
}

#footer{
  color: white;
  background-color: rgb(209, 196, 178);
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#bags {
  background: url('https://cdn.shopify.com/s/files/1/0293/9277/products/MilaMiniBag-Pink_MER_2_468x.jpg?v=1618620528');
  height: 650px;
  width: 33%;
  padding-top: 550px;
  padding-left: 200px;
}

#bags:hover{
  background: url('https://a.1stdibscdn.com/chanel-hot-pink-caviar-double-flap-bag-for-sale/1121189/v_93929321588412001198/9392932_master.jpg?width=768');
}

#heels {
  width: 33%;
  height: 650px;
  padding-top: 550px;
  padding-left: 200px;
  background: url('https://cdn.shopify.com/s/files/1/0293/9277/products/03-29-19_Studio_1_RM_09-24-50_5__Wiked_Leopard_P_11706__RG_468x.jpg?v=1568678329');
}

#heels:hover{
  background: url('https://m.media-amazon.com/images/I/61g7aTWBiWL._AC_UL1380_.jpg');
}

#dresses {
  width: 33%;
  height: 650px;
  padding-top: 550px;
  padding-left: 200px;
  background: url('https://i.pinimg.com/736x/b5/a1/14/b5a11401b506fac6e72ebba44f2edaaa.jpg');
}

#dresses:hover{
  background: url('https://i.pinimg.com/originals/24/1f/1a/241f1af905518c4d9888958c7c23ca66.jpg');
}

#view{
  height: 50px;
  border: 0px;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: black;
}

ul{
  width: 100px;
  color: white;
}

h1{
  text-align: center;
  color: rgb(105, 98, 87);
}

p{
  font-size: 15px;
}

p1{float: right;}

#home{
  font-size: 30px;
}

#info{
  background-color: rgb(105, 98, 87);
  width: 48%;
  padding: 20px;
}

#inputs{
  width: 50%;
  background-color:rgb(209, 196, 178);
  padding: 20px;
}

#name, #email, #phone{
  height: 30px;
  width: 45%;
  border: solid 1px rgb(105, 98, 87);
}

#message{
  width: 100%;
  height: 100px;
  border: solid 1px rgb(105, 98, 87);
}

#name:hover, #email:hover, #phone:hover, #message:hover{
  border: solid 2px rgb(105, 98, 87);
}

#line{
  position: relative;
    display: inline-block;
    width: 100%;
    border-bottom: 3px solid rgb(105, 98, 87);
}

#submit{
  height: 40px;
  width: 180px;
  background-color: rgb(105, 98, 87);
  border: none;
  text-align: center;
}

#rights{
  background-color: rgb(105, 98, 87);
  padding: 20px;
}

